@import-normalize;
@import './variables';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient($dark-blue, $medium-blue);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: $medium-blue;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient($dark-blue, $light-blue);
}

@font-face {
  font-family: 'GandhiSans';
  src: local('GandhiSans'),
    url('../assets/fonts/GandhiSans-Regular.otf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'GandhiSans Bold';
  src: local('GandhiSans Bold'),
    url('../assets/fonts/GandhiSans-Bold.otf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
